body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #F9FAFB;
}

h1, h2, h3, summary, detail {
    color: #111827;
}

h2 {
    margin-top: 40px;
}

h3 {
    margin-top: 40px;
}

table {
    width: 95%;
    border-collapse: collapse;
    table-layout: auto;
    background-color: #FFF;
}

th, td {
    border: 1px solid #D0CCD0;
    padding: 8px;
    text-align: left;
    color: #111827;
    vertical-align: top;
}

th {
    background-color: #F3F4F6;
    color: #4B5563;
}

.feature-results th:not(:first-child),
.feature-results td:not(:first-child) {
    width: 1%;
    white-space: nowrap;
}

th.vertical
{
    width: 1%;
    white-space: nowrap;
}

details {
    margin: 8px 50px 8px 50px;
}

summary::before {
    content: "Show Details";
}

details[open] > summary::before {
    content: "Hide Details";
}